<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Enable body scrolling</button>

<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Cartas</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="cuadroresutado">
      <div *ngFor="let carta of cartas" class="card-format" id="card-f">
        <div class="row g-0">
          <div class="col-md-8">
            <div style="padding: 10px;">
              <table>
                <tr>
                  <td colspan="2" class="tablecard-title">{{carta.cardname}}</td>
                </tr>
                <tr>
                  <td rowspan="3">
                    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                      <button type="button" class="btn btn-primary btn-sm">Main</button>
                      <button type="button" class="btn btn-primary btn-sm">Extra</button>
                      <button type="button" class="btn btn-primary btn-sm">Side</button>
                    </div>

                  </td>
                  <td class="tablecard"><img src="/img/Luz.webp" class="imgcardsm">Atribute: LIGHT
                  </td>
                </tr>
                <tr>
                  <td class="tablecard"><img src="img/dragon.webp" class="imgcardsm">Type: Dragon</td>
                </tr>
                <tr>
                  <td class="tablecard"><img src="img/Star.webp" class="imgcardsm">Level/Rank: 8</td>
                </tr>

              </table>
            </div>
          </div>
          <div class="col-md-4">
            <img src="assets/Card-Images/{{carta.idcarta}}.png" class="img-fluid" alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
